body {
    /* width: 50%; */
   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div {
    border: 2px solid black;
}
.navigationMenu{
 display: flex;
 flex-direction: row;

}
.menu {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    float:right;
    padding: 10px;
    margin-left: 20px;

}

.menu ul {
    margin:0;
    list-style: none;
    padding: 0;
    display: flex;

}

.menu ul li{
    
    margin:10px;
    list-style: none;
    padding: 0;
    display: flex;

}